body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(0, 145, 255);
    color: white;
}

.container {
    margin-top: 40px;
}

button {
    font-size: 2rem;
    padding: 16px 24px;
    margin: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.status {
    margin-top: 24px;
    font-size: 2rem;
    font-weight: bold;
}

.status-verde {
    color: #007300; /* verde */
}

.status-vermelho {
    color: #ff4a4a; /* vermelho */
}

.status-branco {
    color: white; /* preto */
}